@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

header {
  color: #c1c3d0;
  background-color: rebeccapurple;

}
body {

  background-color: white;
}

.navbar {
  display: contents;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

header img {
  display: flex;
  width: auto; /* Allow the width to adjust based on the image's intrinsic aspect ratio */
  max-height: 100px; /* Set a maximum height for the image, adjust as needed */
  margin-right: 10px; /* Adds space between the image and other Navbar content */
}

@media (max-width: 768px) {
  header img {
    max-height: 50px; /* Adjust for smaller screens */
  }
}
